header {
  background-color: #8ab6fc;
  width: 80%;
  padding: 5%;
}

.column-1 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-left: 2%;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding-right: 2%;
}

footer {
  width: 80%;
  padding: 5%;
}

h1, h2 {
  font-family: "Helvetica", sans-serif;
}

summary {
  background-color: #d5d9e0;
  border-bottom: 1px solid black;
}

body {
  font-family: "Helvetica", sans-serif;
}

p {
  margin: 2px;
}