<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Campus Locations</h1>
  <p>A view of students at Campuses</p>
  <p>Click <a href="campus/view">here</a> to edit students at a specific campus.</p>
   <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul>
</body>
</html>